:root {
    --primary: #6B4E34;
    --primary-dark: #4d3725;
    --bg-gradient-from: #FFF4E0;
    --bg-light: #e6dace;
}

body {
    background-color: #FFF4E0;
    color: var(--primary);
    font-family: 'Inter', sans-serif;
}

.cta-button {
    background-color: var(--primary);
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-size: 1.125rem;
    transition: all 200ms;
}

.cta-button:hover {
    background-color: var(--primary-dark);
}

.cta-button:active {
    transform: scale(0.95);
}

h1, h2, h3, p {
    color: var(--primary);
}

footer {
    background: var(--bg-light);
    color: var(--primary);
}

footer a {
    color: var(--primary);
    opacity: 1;
    transition: opacity 200ms;
}

footer a:hover {
    opacity: 0.8;
}

img .acqua {
    min-height: 200px;
    background-color: var(--bg-light);
}

.bg-neutral-50 {
    background-color: var(--bg-light);
}

* {
    /* border: 1px solid red !important; */
}